form, fieldset{
    display:flex;
    flex-direction: column;
    max-width: 80vw;
    
}
form{
    margin: auto;
}
fieldset, input, label, button{
    padding: 10px;
    margin: 5px;
}
button{
    display: block;
    margin: auto;
    width: 80%;
}